@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "beautyFont";
  src: url("/fonts/tenez.otf") format("opentype");
  /* Dodaj więcej formatów czcionek, jeśli są dostępne */
}
@font-face {
  font-family: "proxima";
  src: url("/fonts/proxima.otf") format("opentype");
}

._shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

._button {
  @apply bg-primary text-black px-10 py-3 transition duration-300 hover:bg-secondary hover:text-white;
}
._button2 {
  @apply bg-white text-black border border-black w-fit px-10 py-3 transition duration-300 hover:bg-primary hover:border-primary hover:text-white font-beautyFont;
}

body {
  font-family: "proxima", sans-serif;
  letter-spacing: 1px;
}

._floating {
  animation: floatAnimation 2s ease-in-out infinite alternate;
}

/* react range custom styles */

.rdrCalendarWrapper {
  background-color: wheat !important;
  z-index: 999 !important;
}

.rdrNextPrevButton {
  background-color: white !important;
}
.rdrNextPrevButton:hover {
  background-color: rgba(255, 255, 255, 0.822) !important;
}
.rdrNextPrevButton i {
  border-color: transparent transparent transparent wheat !important;
}
.rdrPprevButton i {
  border-color: transparent wheat transparent transparent !important;
}

.rdrDayToday .rdrDayNumber span:after {
  /* current day color underline */
  @apply !bg-primary;
}

.rdrMonth {
  width: 100% !important;
  height: 100% !important;
  z-index: 999 !important;
}

.rdrMonthAndYearWrapper {
  z-index: 999 !important;
}
.rdrCalendarWrapper {
  width: 100% !important;
  height: 100% !important;
  font-size: 16px !important;
  z-index: 999 !important;
}

.calendarElement {
  border: 3px solid #ac967f;
  z-index: 999;
}

/*  */

@keyframes floatAnimation {
  0% {
    transform: translateY(0) rotate(180deg);
  }
  50% {
    transform: translateY(-14px) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(180deg);
  }
}
